
.Submit-button {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.Radio-button {
    margin-top: 1em;
    display: flow-root !important;

}

.Card-custom{
    width: 250px;
}

.Category-form-control{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    min-width: 70% !important;
    text-align: left;

}

