.Paper-expense-form{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.Field-expenses-form{
    width: 90%;
    margin-top: 10% !important;
}

.Card-expenses-form{
    width: 100%;
    background-color: white;
    padding-top: 10%;
}

.Submit-button {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.Radio-button {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;

}

.Back-arrow{
    display: flex !important;
}

.Category-form-control{
    margin-bottom: 10% !important;
    min-width: 90% !important;
    text-align: left;

}

.Expenses-of-the-month-parent-div{
    width: 100%;
}
.Expenses-of-the-month-paper{
    width: 100%;
    overflow-x: auto;
}

.Expenses-of-the-month-table-header{
    background-color: #3f51b5 !important;
    color: white !important;
}


.Fab{
    margin: 1ex;
    position: fixed !important;
    bottom: 16px;
    right: 16px;
}