
.Submit-button {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.Radio-button {
    margin-top: 1em;
    display: flow-root !important;

}

.Card-custom{
    width: 250px;
}

.Back-arrow{
    display: flex !important;
}

.Category-form-control{
    margin-bottom: 1em !important;
    min-width: 90% !important;
    text-align: left;

}

.Expenses-of-the-month-paper{
    width: 90%;
    marginTop: 3ex;
    overflowX: 'auto';
    position: relative;
}

.Expenses-of-the-month-table-header{
    background-color: black !important;
    color: white !important;
}

.Expenses-of-the-month-table{
    minWidth: 650px;
}

.Fab{
    margin: 1ex;
    position: fixed !important;
    bottom: 16px;
    right: 16px;
}